#header1-1 P {
	font-size: 23px !important;
}
#features1-13 H3 {
	color: #474747 !important;
	font-size: 23px !important;
}
#features1-13 P {
	color: #616161 !important;
	font-size: 17px !important;
}
#msg-box4-4 P {
	font-size: 18px;
}
#features1-14 H3 {
	text-align: center;
}
#msg-box3-10 P {
	text-align: center;
}
#menu-17 .mbr-brand__name {
	font-size: 16px;
}
#menu-17 .btn-link {
	color: #fff;
}
#menu-17.mbr-navbar--stuck .mbr-navbar__section {
	background: #2c2c2c;
}
#menu-17 .mbr-navbar__section {
}
